body{
    background-image: url("decor/stars.gif");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: lightseagreen;
}

h2{
  color: lightseagreen;
}

h3{
  color: lightcyan;
}

p{
   color: white;
   font-size: 20px
}

div.a{
  width: 400px;
}

img.header{
  margin-top: -150px;
  margin-left: 760px;
}

p.header{
  margin-top: -75px;
  margin-left: 700px;
}

div.cheevo{
  margin-top: 50px;
}
/*sidebar */
  .sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: transparent;
    overflow-x: hidden;
    padding: 8px 0;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: coral;
    display: block;
  }

  .sidenav a:hover {
    color: rgb(126, 53, 26);
  }

  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
/*sidebar*/


.glitter{
  margin-bottom: 0px;
  position: absolute;

}

a.bottom{
    position: absolute;
    bottom: 2%;
}

.center{
    text-align: center;
}

.rainbowimpact{
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -4px 4px #ef3550,
                    -8px 8px #f48fb1,
                    -12px 12px #7e57c2,
                    -16px 16px #2196f3,
                    -20px 20px #26c6da,
                    -24px 24px #43a047,
                    -28px 28px #eeff41,
                    -32px 32px #f9a825,
                    -36px 36px #ff5722;
}

.rainbowgradient{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 6rem;
    background: linear-gradient(to right, #ef5350, 5%, #f48fb1, 10%, #7e57c2,15%, #2196f3,20%, #26c6da,25%, #43a047,30%, #eeff41,35%, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* CSS */
.button-92 {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #cf51b4;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

.button-92:hover,
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-92:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-92 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: -90px;
  margin-left: 600px;
  position: absolute;
  cursor: pointer;
  padding: .1em .3em;
}